*,
html{
    margin: 0;
    padding: 0;
}

body{
    background-color: #E5E5E5;
}

.logoplus{
    padding: 3px;
  
    border-radius: 50%;
    
}
.logoplus:hover{
    background-color: #c5c5c5;
   
    border-radius: 50%;  
    
}
.Navigator{
    display: flex;
    justify-content: center;
    align-items: center;
}

.a-navbar{
    color: #aaa;
    text-decoration: none;
}

.ul-navi{
   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100px;
}

.li-navi{
    font-size: 20px;
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-navi:hover{
    background-color: #aaa;
}

.Content{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 10px;
    border-radius: 80px;
}

.profilgambar{
    border-radius: 50%; 

}

.a-content{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 361px;
    height: 401px;
}

.img-content{
    width: 100%;
    height: 100%;
    padding: 10px;
}

.Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.li-foot{

    font-size: 20px;
    list-style: none;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#biodata{
    background-color: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 361px;
    height: 50px;
}

.Sub-Menu-Wrap{
    position: absolute;
    top: 100%;
    right: 3%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}
.Sub-Menu-Wrap.open-menu{
    max-height: 400px;
}

.Sub-Menu{
    border-radius: 20px;
    box-shadow: 10px 10px 13px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 13px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 13px -8px rgba(0,0,0,0.75);
    background-color: #fff;
    padding: 20px;
    margin: 10px;
}
.Sub-Menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background-color: 000;
    margin: 10px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: 525252;
    margin: 12px 0;
}
.sub-menu-link a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: 525252;
   
    width: 100%;
}
.sub-menu-link img{
    background-color: #e5e5e5;
    border-radius: 50%;
    
}
.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);
    
}
.sub-menu-link:hover a{
    font-weight: 600;
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Modal container */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
}

/* Close button */
.close {
   
    width: 5%;
    height: 3%;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-buat{

    margin-top: 10px;
    margin-left: 90%;
}