*,
html{
    margin: 0;
    padding: 0;
}

body{
    background-color: #E5E5E5;
    width: 100vh;
    height: 100vh;
    display: flex;
}

.logoplus{
    padding: 3px;
  
    border-radius: 50%;
    
}
.logoplus:hover{
    background-color: #E5E5E5;
    cursor: pointer;
    border-radius: 50%;  
    
}
.Navigator{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{

    position: fixed;
    width: 100%;
    background-color: #F8F9FA;
    border-bottom: 1px solid #888;
}
.a-navbar{
    color: #aaa;
    text-decoration: none;
}


.profilgambar{
    border-radius: 50%; 

}
.profilgambar:hover{
    cursor: pointer;
}
.profilgambarmenu{
    border-radius: 50%; 

}
.profilgambarmenu:hover{
    cursor: pointer;
    background-color: #E5E5E5;
}
.logoplus{
    margin-left: 85%;
}



.Sub-Menu-Wrap{
    position: absolute;
    top: 100%;
    right: 3%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}
.Sub-Menu-Wrap.open-menu{
    max-height: 400px;
}

.Sub-Menu{
    border-radius: 20px;
    box-shadow: 10px 10px 13px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 13px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 13px -8px rgba(0,0,0,0.75);
    background-color: #fff;
    padding: 20px;
    margin: 10px;
}
.Sub-Menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background-color: 000;
    margin: 10px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: 525252;
    margin: 12px 0;
}
.sub-menu-link a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: 525252;
   
    width: 100%;
}
.sub-menu-link img{
    border-radius: 50%;
    
}
.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);
    
}
.sub-menu-link:hover a{
    font-weight: 600;
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Modal container */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
}


.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content1 {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-buat{
    margin-top: 10px;
    margin-left: 90%;
}
.buatButton{
    background-color: black;
    color: white;
    width: 50px;
    height: 30px;
    border-radius: 10px;
}
.buatButton:hover{
    background-color: a5a5a5;
}
.container-fluid{
}
.menu-utama {
    border-radius: 50%;
    margin-left: 10px;
}
.menu-utama:hover{
    background-color: E5E5E5;
    cursor: pointer;
}
/* SIde Bar */
.DpSideBar{
    width: 220px;
    height: 500px;
   
   
}
.DpSideBar.close{
    display: none;
}
.listdp{
    width: 220px;
    height: 50px;
  border: solid 1px black;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
   margin-bottom: 10px;

}

.sidebar{
    position: fixed;

    left: 0;
    height: 100%;
    width: 250px;
    background-color: #F8F9FA;
    border-right: 1px solid #888;
    border-top: 1px solid #888;
    transition: 0.1s;
}
.sidebar.close{
    width: 70px;
}
.sidebar.close .DpSideBar{
    width: 0px;
    display: none;
}
.sidebar.close .text-nav-text{
    display: none;
}
.sidebar.close .nav-link{
    width: 50px;
}
.sidebar.close .nav-linkDp{
    width: 50px;
}
.nav-link{
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    height: 50px;
    width: 200px;
   border-radius: 10px;
}
.nav-linkDp{
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    height: 50px;
    width: 200px;
   border-radius: 10px;
}
.nav-link:hover{
    background-color: #F1F1F1;
}
.nav-linkDp:hover{
    background-color: #F1F1F1;
}
.listdp:hover{
    background-color: #F1F1F1;
}
.nav-link-a{
    font-size: 15px;
    margin-left: 5px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;

}
.nav-link-a img{

    width: 28;
    height: 30;
}
.text-nav-text{
    margin-left: 15px;

}
.menu-link{
    margin-top: 80px;
    margin-left: 10px;
}
.menubar{
    margin-top: 100%;
}



/* Conten */
body .content.ori {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    width: 169vh;
    height: 608px;
    margin-left: 70px;
    margin-top: 70px;
    justify-content: flex-start; /* Tambahkan ini untuk memastikan elemen mulai dari kiri */
}

.content {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    width: 142vh;
    margin-left: 250px;
    margin-top: 70px;
    justify-content: flex-start; /* Tambahkan ini untuk memastikan elemen mulai dari kiri */
}



.isi-content {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px; /* Jarak antar elemen */
    width: 250px; /* Lebar tetap */
    height: 300px; /* Tinggi tetap */
    box-sizing: border-box; /* Memasukkan padding dan border dalam ukuran total */
}

.isi-content1 {
    text-decoration: none;
    border-radius: 10px;
    width: 250; /* Sesuaikan dengan lebar elemen parent .isi-content */
    height: 300px;
    background-color:whitesmoke;
    border: 1px solid black;
    box-sizing: border-box; /* Pastikan padding dan border dimasukkan dalam ukuran total */

    justify-content: center;
}
.isi-content1-atas {

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 250px; /* Sesuaikan dengan lebar elemen parent .isi-content */
    height: 100px;
    box-sizing: border-box; /* Pastikan padding dan border dimasukkan dalam ukuran total */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.isi-content1-tngh {

    width: 250px; /* Sesuaikan dengan lebar elemen parent .isi-content */
    height: 149px;
    

   
    box-sizing: border-box; /* Pastikan padding dan border dimasukkan dalam ukuran total */
    display: flex;
    justify-content: center;
}
.ul-content{
    margin-right: 50px;
    font-size: 13px;
    text-decoration: none;
    list-style: none;
}
.isi-content1-bwh {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 250px; /* Sesuaikan dengan lebar elemen parent .isi-content */
    height: 49px;
    

    box-sizing: border-box; /* Pastikan padding dan border dimasukkan dalam ukuran total */

}
.aContent{
    text-decoration: none;
    color: black;
}
.deleteDprBtn{
    background-color: white;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    width: 70px;
    height: 30px;
}
.deleteDprBtn:hover{
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    width: 70px;
    height: 30px;
}
.editDprBtn{
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    width: 70px;
    height: 30px;
}
.editDprBtn:hover{
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    width: 70px;
    height: 30px;
}



/* departemen */
body .barAtas.ori {
    margin-left: 120px;
    margin-top: 90px;
    background-color: black;
    width: 100vh;
    height: 300px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100;

}

.barAtas {
    background-color: black;
    width: 100vh;
    height: 300px;
    margin-left: 300px;
    margin-top: 90px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100;
}