*,
html{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
}

.Navigator{
    display: flex;
    justify-content: center;
    align-items: center;
}

.a-navbar{
    color: black;
    text-decoration: none;
}

.ul-navi{
   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100px;
}

.li-navi{
    font-size: 20px;
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-navi:hover{
    background-color: white;
}

.Content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}